.dice-area {
  display: flex;
  flex-wrap: wrap;
}

.dice-controls {
  margin-bottom: 10px;
}

.dice-controls > button {
  margin: 0 5px;
}

.dice-tray-area {
  display: flex;
}

.square-dice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border: 2px solid black;
  margin: 5px;
}

.tray-col {
  width: 50%;
}
