.app-controls > * {
  margin: 0 5px;
}

.dice-tray-controls {
  margin-bottom: 10px;
}

.dice-tray-controls > * {
  margin: 0 5px;
}

.dice-tray-dice {
  display: flex;
}

.square-dice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  border: 2px solid black;
  margin: 5px;
}
