.dice-area {
  display: flex;
  flex-wrap: wrap;
}

.square-dice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  font-size: 2.3rem;
  border: 2px solid black;
  margin: 5px;
}
